@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

.font-manrope {
  font-family: sans-serif
}

.hover-scale {
  transition: transform 0.3s ease;
}
.hover-scale:hover {
  transform: scale(1.03);
}

.avatar {
  width: 50px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  background: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

.carousel-nav-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #aaa7a7;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.05), -6px -6px 12px rgba(255, 255, 255, 0.8);
  transition: all 0.25s ease;
  z-index: 10;
}

.carousel-nav-btn:hover {

}

.arrow-icon {
  color: #000000;
  transition: color 0.3s ease, transform 0.3s ease;
}

.carousel-nav-btn:hover .arrow-icon {
  color: #000000;
  transform: translateX(2px);
}
